<main class="index">
    <h1>Accommodation Tier Options</h1>

    <div class="card-container">
        <% @accommodations.each do |acc| %>
            <div class="card">
                <img src=" <%= acc.img_url %> " alt=" <%= acc.name %> ">
                <h2>Tier: <%= acc.name %> </h2>
                <ul>
                    <li><strong>Cost:</strong> $<%= acc.cost %> </li>
                </ul>
                <p> <%= acc.description %> </p>

                <% if @current_user %>
                    <%= form_for :trip_params, url: "/sessions/add_accommodation" do |f| %>
                    <%= f.hidden_field :accommodation_id, value: acc.id %>
                    <%= f.submit "Add to Cart" %>
                    <% end %>
                <% end %>

            </div>
        <% end %>
    </div>
</main>