<main class="user-show">
  <h1>Hello <%= @user.name %>!</h1>

  <%= link_to 'Create a Trip', new_trip_path %>

  <h2>Your Trips:</h2>

<div class="card-container">
  <% @user.trips.each do |trip| %>
    <div class="card">
      <img src="<%= trip.destination.img_url %>" alt="<%= trip.destination.city %>, <%= trip.destination.country %>">

      <h3><%= trip.destination.city %>, <%= trip.destination.country %></h3>
      <%= link_to "Trip Details", trip_path(trip) %>
    </div>
  <% end %>
  </div>
  
  <%= button_to "Delete Account", user_path(@user), method: :delete %>
</main>