<h1> <%= @destination.city %>, <%= @destination.country %> </h1>
<img style="max-width: 500px; width: 100%" src="<%= @destination.img_url %>" alt="Typical cuisine found in <%= @destination.city %>, <%= @destination.country %> ">
<h3> <%= @destination.cuisine %> </h3>
<p> <%= @destination.description %> </p>