<main class="show">
    <div class="container">
        <div class="tagline">Eat and learn to make <%= @destination.cuisine %> in...</div>
        <h1> <%= @destination.city %>, <%= @destination.country %> </h1>
        <div id="ImageGallery">
            <div class="row">
                <figure>
                    <img src="<%= @destination.img_url %>" alt="Typical cuisine found in <%= @destination.city %>, <%= @destination.country %>" width="304" height="228">
                    <figcaption>Food in <%= @destination.city %>, <%= @destination.country %></figcaption>
                </figure>
                <figure>
                    <img src="<%= @destination.img_url %>" alt="Typical cuisine found in <%= @destination.city %>, <%= @destination.country %>" width="304" height="228">
                    <figcaption>Food in <%= @destination.city %>, <%= @destination.country %></figcaption>
                </figure>
                <figure>
                    <img src="<%= @destination.img_url %>" alt="Typical cuisine found in <%= @destination.city %>, <%= @destination.country %>" width="304" height="228">
                    <figcaption>Food in <%= @destination.city %>, <%= @destination.country %></figcaption>
                </figure>
            </div>
        </div>
        <h3> <%= @destination.cuisine %> </h3>
        <p> <%= @destination.description %> </p>
    </div>
</main>